body {
    width: auto;
}

#header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width:   100%;
    height: 20%;
}

#logo {
    margin: auto;
    width: 100%;
    height: 100%;
}

#footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width:   100%;
    height: 5%;
}

.footer-content {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 10px;
    position: relative;
    bottom: 0;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

 #footer:after {
    content: "";
    display: table;
    clear: both;
  }

#nav {
    float: left;
    width: 20%;
    height: 100%;
    background-color: violet;
    position: fixed;
    top: 20%;
    left: 0;    
}

#content {
    float: right;
    width: 80%;
    height: 100%;
    background-color: aqua;
    position: absolute;
    top: 10%;
    right: 0;   
}

.section{
    height: 100%;
    background-color: beige;
    
}

#about {
    background-color: red;
}


#photo {
    background-color: yellow;
}


#web {
    background-color: blue;
}


#contact {
    background-color: green; */
} 