html {
    background-color: rgb(255,255, 248);
}
body {
    width: 100%;
}
h1 {
    font-family: 'Paytone One', sans-serif;
}
p {
    font-family: 'Raleway', sans-serif;
}
button {
    border: solid 3px black;
    font-family: 'Paytone One', sans-serif;
    font-size: 18px;
    font-weight: 900;
    padding: 15px;
    margin-right: 10px;;
}
button:hover {
    opacity: .5;
    cursor: pointer;
}
#header {
    background-color: rgb(255,255, 248);
    position: fixed;
    top: 0;
    left: 0;
    width:   100%;
    height: 20%;
    z-index: 9;
}
#logo {
    height: 100%;
    position: absolute;
    top: 10%;
    left: 44%;
}
#open-menu {
    margin: auto;
    float: left;
    width: 5%;
    position: fixed;
    top: 10%;
    left: 10%;
}
#open-menu:hover {
    cursor: pointer;
}
nav {
    display: none;
    transition: .25s;
}
#nav {
    float: left;
    width: 0;
    height: 100%;
    background-color: rgb(255,255, 248);
    position: fixed;
    top: 20%;
    left: 0; 
    transition: .25s;
    z-index: 9;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10%;
    left: 10%;  
    transition: .25s
}
li {
    text-align: right;
    margin-top: 20px;
    font-family: sans-serif;
    transition: .25s
}
.nav {
    text-decoration: none;
    font-family: 'Paytone One', sans-serif;
    color: black;
    font-size: 18px;
}
.subnav {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: rgb(80, 80, 80);
    font-size: 16px;
    margin-top: 10px;
    transition: .25s
}
#sub-photo {
    /* display: none; */
}
#sub-web {
    display: none;
}
#photo-nav:hover {
    color: rgb(200, 0, 0);
}
#web-nav:hover {
    color: rgb(240, 200, 0);
}
#about-nav:hover {
    color: rgb(0, 0, 200);
}
#social-icons {
    float: left;
    position: absolute;
    bottom: 30%;
    left: 10%;
    display: none;
}
.fa {
    padding: 1px;
    font-size: 40px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: black;
}
.contact-card {
    padding: 5px;
    font-size: 40px;
    width: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: black;
}
.fa:hover {
    opacity: .5;
}
#content {
    float: right;
    width: auto;
    height: 100%;
    position: absolute;
    top: 20%;
    left: 0;
    bottom: 5%;
    transition: 0.8s; 
}

.section {
    height: 75%;
    overflow-y: scroll;
}

#photo {
    /* width: 160500px; */
}

#photo img{
    padding: 3px 5px 3px 5px;
    object-fit: inherit;
    max-width: 33.33%;
    display: inline;
    margin: 20% 15px 20% 15px;
    object-fit: inherit;
    
}
.project {
    padding: 10%;
}
.project-overview {
    float: left;
    width: 60%;
}






#about {
    padding: 7% 0 10% 0;
}
.contact-card {
    margin-left: 1px;
}
#footer {
    background-color: rgb(255,255, 248);
    position: fixed;
    bottom: 0;
    left: 0;
    width:   100%;
    height: 5%;
}
.footer-content {
    display: inline-block;
    height: auto;
    width: 100%;
    padding: 10px;
    position: relative;
    bottom: 0;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: rgb(199, 199, 199);
}
#footer:after {
    content: "";
    display: table;
    clear: both;
}